.coffee-table {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: lightblue;
  border: 1px solid navy;
  margin: 5px 20px 0 20px;
}

.pageHeader {
  text-align: center;
  margin: 10px 0 15px 0;
  font-size: 1.2em;
}

.list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shop {
  width: 33%;
  margin: 5px 0 5px 0;

}